body {
background-color: #171f18;
}

p {text-align:center}

input[type="button"][disabled]{
	border: solid 0px #fff;
	background-color: rgba(0, 0, 0, 0);
}

video{
	width: 600px;
	max-width: 100%;
}
	
status{
	float: left;
}
